* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
}

td.todo {
    background-color: red;
}

td.doing {
    background-color: yellow;
}

td.done {
    background-color: green;
}